<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to my portfolio site :)</h1>
            <hr>
            <p>Sharing my passion of "Data Science", "Machine Learning", and "Cloud Computing architecture". I enjoy
                exploring unfamiliar datasets, stumbling while wrangling them, and discoverying interesting patters and
                insightful conclusion.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>