<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h2>FULL STACK DATA SCIENTIST</h2>
      <hr />
      <div class="img-container">
        <img
          src="img/myAvatar.png"
          alt="my-avatar"
          class="img-thumbnail
        img-circle"
        />
      </div>
      <hr />
      <p>
        Welcome to my personal site. I love sharing my passion of "Data
        Science", "Machine Learning", and "Cloud Computing architecture". I
        enjoy exploring unfamiliar datasets, stumbling while wrangling them, and
        discoverying interesting patters and insightful conclusion. Deploying
        scalable models, creating End-to-End pipelines and creating serverless
        architecture apps.
      </p>
      <a href="#skills" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
