<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h2>FULL STACK DATA SCIENTIST</h2>
      <hr />
      <div class="img-container">
        <img
          src="img/myAvatar.png"
          alt="my-avatar"
          class="img-thumbnail
        img-circle"
        />
      </div>
      <hr />
      <p>
        Welcome to my personal site. I ❤️ sharing my passion of
        <strong>Data Science</strong>, <strong>Machine Learning</strong>, and
        designing <strong>Cloud Computing</strong> architecture. <br />
        I enjoy <strong>kaggle challenges</strong>🏋 , exploring unfamiliar
        datasets 🧗&zwj;♂️, stumbling while wrangling them 🤸, and discovering
        interesting patterns and insightful conclusion 🔍. <br /><br />Feel free
        to check out projects below where I deployed scalable models using
        <strong>Fast API</strong> on <strong>AWS Elasticbeanstalk</strong> 💨,
        trained and deployed to <strong>AWS Sagemaker, DevOps CI/CD</strong> 🔄
        to automate,
        <strong>creating End-to-End pipelines that are reproducible</strong>
        using <strong>DVC</strong>, using
        <strong>Serverless architecture</strong> to reduce cost apps, and
        <strong>Spark</strong> for Big Data analysis.
      </p>
      <a href="#skills" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
