<!-- Modal 1 - Memelfy -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Memefly - A Deep Learning App</h2>
              <p class="item-intro text-muted"></p>
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/"
                      alt="img/portfolio/"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/"
                      alt="img/portfolio/"
                    />
                  </div>
                </div>
              </div>
              <p>
                What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
              </p>
              <p>
                <a
                  href="https://github.com/Lambda-School-Labs/memefly-ds"
                  class="btn btn-info"
                  role="button"
                  ><i class="fa fa-github"></i> View Github</a
                >

                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <a
                  href="https://www.memeflyai.com/"
                  class="btn btn-info"
                  role="button"
                  ><i class="fa fa-cog"></i> View App</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 Spotifier-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Spotifier - A Machine Learning Recommender App</h2>
              <p class="item-intro text-muted"></p>
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/"
                      alt="img/portfolio/"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/"
                      alt="img/portfolio/"
                    />
                  </div>
                </div>
              </div>
              <p>
                What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
              </p>
              <p>
                <a
                  href="https://github.com/Build-Week-Spotify-Song-Suggester/Data-science"
                  class="btn btn-info"
                  role="button"
                  ><i class="fa fa-github"></i> View Github</a
                >

                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <a
                  href="https://spotifier.netlify.com/"
                  class="btn btn-info"
                  role="button"
                  ><i class="fa fa-cog"></i> View App</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3 Salty HN -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Salty Hacker News Trolls - A ETL App</h2>
              <p class="item-intro text-muted"></p>
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/"
                      alt="img/portfolio/"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/"
                      alt="img/portfolio/"
                    />
                  </div>
                </div>
              </div>
              <p>
                What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
              </p>
              <p>
                <a
                  href="https://github.com/Lambda-School-Labs/memefly-ds"
                  class="btn btn-info"
                  role="button"
                  ><i class="fa fa-github"></i> View Github</a
                >

                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <a
                  href="https://www.memeflyai.com/"
                  class="btn btn-info"
                  role="button"
                  ><i class="fa fa-cog"></i> View App</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
