<!-- Modal 1 - Memelfy -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Memefly</h2>
              <p class="item-intro text-muted">A Deep Learning App</p>
              <div
                class="youtube-player"
                data-id="vCk7QEtE3rY"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
              ></div>
              <hr />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <p>
                <button
                  class="btn btn-info btn-responsive"
                  onclick=" window.open('https://github.com/Lambda-School-Labs/memefly-ds','_blank')"
                >
                  <i class="fa fa-github"></i> View Github
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-responsive"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <button
                  class="btn btn-info btn-responsive"
                  onclick=" window.open('https://www.memeflyai.com/','_blank')"
                >
                  <i class="fa fa-cog"></i> View App
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2 Spotifier-->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal2"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Spotifier</h2>
              <p class="item-intro text-muted">
                A Machine Learning Recommender App
              </p>
              <div
                class="youtube-player"
                data-id="d3GrBrgw7kQ"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
              ></div>
              <hr />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <p>
                <button
                  class="btn btn-success btn-responsive"
                  onclick=" window.open('https://github.com/Build-Week-Spotify-Song-Suggester/Data-science','_blank')"
                >
                  <i class="fa fa-github"></i> View Github
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-responsive"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <button
                  class="btn btn-info btn-responsive"
                  onclick=" window.open('https://spotifier.netlify.com/','_blank')"
                >
                  <i class="fa fa-cog"></i> View App
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3 Salty HN -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal3"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Salty Hacker News Trolls</h2>
              <p class="item-intro text-muted">ETL ML Project</p>
              <hr />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <p>
                <button
                  class="btn btn-success btn-responsive"
                  onclick=" window.open('','_blank')"
                >
                  <i class="fa fa-github"></i> View Github
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-responsive"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 TwitOff -->
<div
  class="portfolio-modal modal fade"
  id="portfolioModal4"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>TwitOff</h2>
              <p class="item-intro text-muted">NLP App</p>
              <div class="container" style="padding-left:10%;">
                <img
                  class="img-responsive"
                  src="img/portfolio/twitoff_demo.gif"
                  alt=""
                  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                />
              </div>
              <hr />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <p>
                <button
                  class="btn btn-success btn-responsive"
                  onclick=" window.open('https://github.com/hurshd0/TwitOff','_blank')"
                >
                  <i class="fa fa-github"></i> View Github
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-responsive"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <button
                  class="btn btn-info btn-responsive"
                  onclick=" window.open('https://twitoff-says.herokuapp.com/','_blank')"
                >
                  <i class="fa fa-cog"></i> View App
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
