<div
  class="portfolio-modal modal fade"
  id="portfolioModal1"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Deep Learning CV and NLP Application</h2>
              <p class="item-intro text-muted"></p>
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/thumbnails/sp1.png"
                      alt="img/portfolio/thumbnails/4.jpg"
                    />
                  </div>
                  <div class="col-lg-4">
                    <img
                      class="img-responsive img-centered"
                      src="img/portfolio/thumbnails/sp3.png"
                      alt="img/portfolio/thumbnails/4.jpg"
                    />
                  </div>
                </div>
              </div>
              <p>
                This application started as a single SQL file that executed a
                Competitor Analysis. Because Amazon Redshift does not support
                variable declaration, consultants had to manually run the code
                5-10 times and copy paste the results for each analysis. This
                cost them around 30 minutes. I started by turning the SQL file
                into a Python script that automatically ran the analysis for
                every ID and concatenated the results into a single file. Next,
                I built various interfaces like a CLI and a GUI with the Tkinter
                library. Finally, I settled on the use of the Kivy library.
                Therefore, the application uses a combination of Python, SQL and
                Kivy code. Later, I added multiple analyses to the application
                like a Study ID Collector, a 'prequery' before the Competitor
                Analysis and a Study Information Collector.
              </p>
              <p>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                <i class="fa fa-times"></i> Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
