<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Projects</h2>
        <h3 class="section-subheading text-muted">
          Data Engineering, Data Science, Machine Learning and Deep Learning
          projects.
        </h3>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-flask fa-3x"></i>
            </div>
          </div>
          <img
            src="img/portfolio/memefly_thumbnail.png"
            class="img-responsive"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>Memefly</h4>
          <p class="text-muted">
            A <strong>Novel Meme generating app </strong> that uses Deep
            Learning NLP to create hilarious dank memes.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-flask fa-3x"></i>
            </div>
          </div>
          <img
            src="img/portfolio/spotifier_thumbnail.png"
            class="img-responsive"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>Spotifier</h4>
          <p class="text-muted">
            A <strong> Song recommender app</strong> 🎧, that uses Spotify Audio
            Features such as - acousticness 🔊, danceability 🕺, tempo 🎚️,
            speechiness 🗣️, and several more to find songs nearest to each
            other.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-flask fa-3x"></i>
            </div>
          </div>
          <img
            src="img/portfolio/memefly_thumbnail.png"
            class="img-responsive"
            id="portfolio-thumbnail"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4></h4>
          <p class="text-muted"></p>
        </div>
      </div>
    </div>
  </div>
</section>
