<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">My Passions aka Skillz 😍</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cloud wow bounceIn text-primary"></i>
          <h3>Cloud Computing</h3>
          <p class="text-muted"></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-flask
          wow bounceIn text-primary"
          ></i>
          <h3>Data Science</h3>
          <p class="text-muted"></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-magic wow bounceIn text-primary"
            data-wow-delay=".1s"
          ></i>
          <h3>Machine Learning | Deep Learning</h3>
          <p class="text-muted"></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-database   wow bounceIn text-primary"
            data-wow-delay=".2s"
          ></i>
          <h3>Big Data</h3>
          <p class="text-muted"></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-heart wow bounceIn text-primary"
            data-wow-delay=".3s"
          ></i>
          <h3>Combining Insights</h3>
          <p class="text-muted">
            I love incrementally delievering data insights data-driven decision
            making and m transparency through data.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
